build/
.classpath
.project
.gradle/
eclipse/
bin/
repo/
/run/
.settings/
#IDEA files from Gradle
.idea/
/*.iml
/*.ipr
/*.iws
out/

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#Ayrrow - Custom
CREDITS-fml.txt
forge-1.7.10-10.13.0.1180-changelog.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
options.txt
README.txt
